{% extends 'base.html.twig' %}

{% block title %}Historique des achats{% endblock %}

{% block body %}
    <h1>Historique des achats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Place</th>
                <th>Reference</th>
                <th>Buying_date</th>
                <th>Sav_date</th>
                <th>Price</th>
                <th>Utilisation_tip</th>
                <th>Ticket_pictures</th>
                <th>Manual</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.place }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.buyingDate ? product.buyingDate|date('Y-m-d') : '' }}</td>
                <td>{{ product.savDate ? product.savDate|date('Y-m-d') : '' }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.utilisationTip }}</td>
                <td>{{ product.ticketPictures }}</td>
                <td>{{ product.manual }}</td>
                <td>
                    <a href="{{ path('crud_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('crud_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('crud_product_new') }}">Create new</a>
{% endblock %}
