{% extends 'base.html.twig' %}

{% block title %}Historique des achats{% endblock %}

{% block body %}
<div class="titre">
    <h1 class="bigtitle">Historique des achats</h1>
    <button class="logout"><a class="linkcrud" href="{{ path('app_logout')}}">Déconnexion</a></button>
</div>
    <table class="table">
        <thead>
            <tr class="list">
                <th>Id</th>
                <th>Nom</th>
                <th>Lieu d'achat</th>
                <th>Réference</th>
                <th>Date d'achat</th>
                <th>Date de fin de garantie</th>
                <th>Prix</th>
                <th>Conseils d'utilisations</th>
                <th>Ticket d'achat</th>
                <th>Manuel d'utilisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.place }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.buyingDate ? product.buyingDate|date('Y-m-d') : '' }}</td>
                <td>{{ product.savDate ? product.savDate|date('Y-m-d') : '' }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.utilisationTip }}</td>
                <td>{{ product.ticketPictures }}</td>
                <td>{{ product.manual }}</td>
                <td>
                    <button class="buttonshow"><a class="linkcrud" href="{{ path('crud_product_show', {'id': product.id}) }}">Voir</a></button>
                    <button class="buttonedit"><a class="linkcrud" href="{{ path('crud_product_edit', {'id': product.id}) }}">Modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="buttonnew"><a class="linknew" href="{{ path('crud_product_new') }}">Ajouter</a></button>
{% endblock %}
