{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="titre">
    <h1 class="bigtitle">Produit</h1>
    <button class="logout"><a class="linkcrud" href="{{ path('app_logout')}}">Déconnexion</a></button>
</div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Lieu d'achat</th>
                <td>{{ product.place }}</td>
            </tr>
            <tr>
                <th>Réference</th>
                <td>{{ product.reference }}</td>
            </tr>
            <tr>
                <th>Date d'achat</th>
                <td>{{ product.buyingDate ? product.buyingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin de garantie</th>
                <td>{{ product.savDate ? product.savDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>conseil d'utilisation</th>
                <td>{{ product.utilisationTip }}</td>
            </tr>
            <tr>
                <th>Ticket d'achat</th>
                <td><img src="/{{ product.ticketPictures }}" width="200px"/></td>
            </tr>
            <tr>
                <th>Manuel</th>
                <td>{{ product.manual }}</td>
            </tr>
        </tbody>
    </table>

    <button class="buttonedit"><a class="linkcrud" href="{{ path('crud_product_edit', {'id': product.id}) }}">Modifier</a></button>
    {{ include('crud_product/_delete_form.html.twig') }}
    <a class="linkback" href="{{ path('crud_product_index') }}">&#10094; Retour à l'historique</a>


{% endblock %}
